<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Producers page</title>
    <div th:replace="main.html :: header"></div>
</head>
<body>
<div th:replace="main.html :: navigation"></div>

<div class="container">
    <div class="row">
        <h2>Producers page</h2>
    </div>

        <div class="row">
            <th:authorize access="hasAuthority('Admin')">
            <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                <div class="btn-group me-2" role="group" aria-label="Second group">
                    <form action="#" th:action="@{/producers/new}" method="post">
                        <input type="submit" class="btn btn-primary" value="New"/>
                    </form>
                </div>
            </div>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="producer: ${producers}">
                    <td th:text="${producer.name}"/>
                    <td>
                        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                            <div class="btn-group me-2" role="group" aria-label="Second group">
                                <a th:href="@{'/producers/' + ${producer.id}}" type="button" class="btn btn-warning">Edit</a>
                                <a th:href="@{'/producers?deleteId=' + ${producer.id}}" type="button" class="btn btn-danger">Remove</a>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>